.header {
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
    padding: 92px 51px 89px;
    grid-template-areas:
    "header__menu header__logo header__address";
    justify-items: center;

}
.header__menu {
    grid-area: header__menu;
}

.header__logo {
    grid-area: header__logo;
}

.header__logo__image{
    width: 148px;
    height: 105px;
}

.header__address {
    grid-area: header__address;
}
.overlay {
    opacity: 0.7;
    background-color: #000000;
    z-index: 0;
}





.header__links-list  {
    display: flex;
    justify-content: space-between;
    gap: 35px;

}

.header__links-list-item {
    list-style: circle;

}

.header__links-list-item_no-bullit{
    list-style: none;
}
.cover{
    position: relative;
  padding: 165px 50px 50px 50px;
    background-image: url("C:/Users/Acer-PC/dev/ono-tebe-nado/images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cover__title {
    display: grid;
    grid-template-rows: repeat(3);
    grid-template-areas:
    "aligned-text",
    "aligned-text_center",
    "aligned-text_right";
}
.aligned-text{
    justify-self: start;
    margin: 0;
    padding: 0;
}
.aligned-text_center{
    justify-self: center;
}
.aligned-text_right{
    justify-self: end;
}
.letter-spacing-extended{
    margin: 0;
    padding: 0;
}

.cover__title{
    background-image: src("C:/Users/Acer-PC/dev/ono-tebe-nado/images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card_type_film{
    background-image: src("C:/Users/Acer-PC/dev/ono-tebe-nado/images/cover.jpg");
}
.card_type_book{
    background-image: src("C:/Users/Acer-PC/dev/ono-tebe-nado/images/cover.jpg");
}
.card_type_picture{
    background-image: src("C:/Users/Acer-PC/dev/ono-tebe-nado/images/cover.jpg");
}
.lots__card-list{
    display: flex;
    flex-direction: column;
}